In [1]:
import numpy as np
from scipy.stats import f_oneway
from scipy.stats import ttest_ind
from scipy.stats import chi2_contingency

In [2]:
def check(p_value , alpha):
    if (p_value < alpha):
        print (f"reject the null hypothesis p_value < alpha, {p_value} < {alpha}")
    else :
         print (f"fail to reject the null hypothesis p_value > alpha, {p_value} > {alpha}")

In [3]:
a = [13, 8, 11, 12, 11]
b = [15, 10, 16, 11, 13, 10]
c = [5, 11, 9, 5]
d = [8, 10, 6, 5, 7]
alpha = 0.05

In [4]:
f_oneway(a, b, c, d)

F_onewayResult(statistic=6.324748040313554, pvalue=0.0049302919205628576)

In [5]:
f_stats, p_val = f_oneway(a, b, c, d)
check(p_val, alpha)

reject the null hypothesis p_value < alpha, 0.0049302919205628576 < 0.05

# Q2. Book Review

here is a website, "www.goodreads.com" where people can leave their reviews about a book and rate them on a scale of 1 to 5 stars.
The following table gives the number of pages of a random sample of books with different ratings, as listed on the site:


one_star = [382, 391, 335, 368, 400, 372]
two_star = [560, 343, 512, 329, 391, 367]
three_star = [384, 458, 409, 309, 374, 459]
four_star = [325, 390, 304, 240, 306, 169]
five_star = [360, 298, 272, 368, 320, 326]
At a 1% significance level, does the data provide sufficient evidence to conclude that there is a difference in the mean number of pages among books in these five rating groups?

In [6]:
one_star = [382, 391, 335, 368, 400, 372]
two_star = [560, 343, 512, 329, 391, 367]
three_star = [384, 458, 409, 309, 374, 459]
four_star = [325, 390, 304, 240, 306, 169]
five_star = [360, 298, 272, 368, 320, 326]

In [7]:
f_oneway(one_star, two_star, three_star, four_star, five_star)

F_onewayResult(statistic=4.238644902556343, pvalue=0.009362001936328837)

In [8]:
f_stats, p_val = f_oneway(one_star, two_star, three_star, four_star, five_star)

In [9]:
check(p_val, alpha=0.01)

reject the null hypothesis p_value < alpha, 0.009362001936328837 < 0.01

# Q3. SmartPhone Battery Life

Consumer Reports publishes reviews and comparisons of products based on results from its laboratory.
Data from their website gave the following table for battery lives in hours, for samples of smartphones made by four different mobile companies.

In [10]:
Brand_A = [19.60, 18.82, 19.00, 18.45, 19.79, 19.03, 17.89, 19.42]
Brand_B = [21.10, 20.00, 20.43, 19.67, 18.99, 19.98, 20.14, 19.78]
Brand_C = [10.31, 10.02, 9.41, 9.89, 10.05, 10.52, 11.02, 10.42]
Brand_D = [17.02, 16.71, 17.78, 18.65, 15.98, 17.63, 17.00, 16.78, 16.92, 17.14]

In [11]:
f_oneway(Brand_A, Brand_B, Brand_C, Brand_D)

F_onewayResult(statistic=404.7865500650496, pvalue=2.392149441499325e-24)

In [12]:
f_stats, p_val = f_oneway(Brand_A, Brand_B, Brand_C, Brand_D)
check(p_val, alpha=0.02)

reject the null hypothesis p_value < alpha, 2.392149441499325e-24 < 0.02

In [13]:
t_stats, p_val = ttest_ind(Brand_A, Brand_B)
check(p_val, alpha=0.02)

reject the null hypothesis p_value < alpha, 0.005464761718691163 < 0.02

In [14]:
t_stats, p_val = ttest_ind(Brand_C, Brand_D)
check(p_val, alpha=0.02)

reject the null hypothesis p_value < alpha, 8.33672049161488e-14 < 0.02

In [20]:
t_stats, p_val = ttest_ind(Brand_A, Brand_D)
check(p_val, alpha=0.02)

reject the null hypothesis p_value < alpha, 3.271164766368406e-05 < 0.02

# Q4. Vehicle Miles

The Highway Administration conducts an annual survey on motor vehicles travelling on the highway. They publish their findings in Highway Statistics, based on different types of vehicles.

Independent simple random samples of cars, buses, and trucks yielded the data on number of thousand miles driven last year.

In [21]:
cars = [19.9, 15.3, 2.2, 6.8, 34.2, 8.3, 12.0, 7.0, 9.5, 1.1]
buses = [1.8, 24.6, 7.2, 37.0, 7.2, 21.2, 6.5, 23.6]
trucks = [13.3, 23.0, 25.4, 15.3, 57.1, 14.5, 26.0]

We want to decide there is a difference in last year’s mean number of miles driven among cars, buses, and trucks.

At a 93% confidence level, does the data provide sufficient evidence to conclude that there is a difference in last year’s mean number of miles driven by cars, buses, and trucks.

In [22]:
f_oneway(cars, buses, trucks)

F_onewayResult(statistic=2.4686944536875277, pvalue=0.10782985675757563)

In [24]:
f_stats, p_val =f_oneway(cars, buses, trucks)
check(p_val, alpha=0.01)

fail to reject the null hypothesis p_value > alpha, 0.10782985675757563 > 0.01

# Q5. Average Height

Check whether there is a significant difference (consider a 1% significance level) in the mean height of three groups of adult people. Height is in inches.

college_students = [71, 62, 63, 59, 67, 68, 63, 62, 66, 65, 61, 60]
athletes = [67, 68, 72, 66, 65, 69, 71, 70, 65, 64, 68]
army = [68, 67, 66, 68, 69, 70, 71, 69, 66, 67]

Choose the correct option below :

In [25]:
college_students = [71, 62, 63, 59, 67, 68, 63, 62, 66, 65, 61, 60]
athletes = [67, 68, 72, 66, 65, 69, 71, 70, 65, 64, 68]
army = [68, 67, 66, 68, 69, 70, 71, 69, 66, 67]

In [26]:
f_oneway(college_students, athletes, army)

F_onewayResult(statistic=7.899836075209478, pvalue=0.0017534092082519943)

In [27]:
f_stats, p_val =f_oneway(college_students, athletes, army)
check(p_val, alpha=0.01)

reject the null hypothesis p_value < alpha, 0.0017534092082519943 < 0.01

# Q6. Exam scores distribution

In [28]:
n = 150
per_exp = np.array([.30, .40, .30])
exp = n* per_exp
exp

array([45., 60., 45.])

In [29]:
observation = [45, 50, 55]

In [30]:
from scipy.stats import chisquare

In [31]:
chisquare(f_obs=observation, f_exp=exp)

Power_divergenceResult(statistic=3.8888888888888893, pvalue=0.1430666827544082)

In [32]:
chi_stats, p_val = chisquare(f_obs=observation, f_exp=exp)
check(p_val, alpha=0.05)

fail to reject the null hypothesis p_value > alpha, 0.1430666827544082 > 0.05

# Q7. Time spent on website

In [35]:
n = 200
per_exp = np.array([.20, .50, .30])
expected = n* per_exp
expected

array([ 40., 100.,  60.])

In [36]:
observed = np.array([30, 85, 85])

In [37]:
chi_stats, p_val = chisquare(f_obs=observed, f_exp=expected)
check(p_val, alpha=0.05)

reject the null hypothesis p_value < alpha, 0.0005088621855732918 < 0.05