In [1]:
import pandas as pd
import seaborn as sns
import category_encoders as ce

In [2]:
# Load Titanic dataset
df = sns.load_dataset('titanic')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df = df.drop(columns=['deck'])

In [4]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
df = df.dropna()
df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     712 non-null    int64
 1   pclass       712 non-null    int64
 2   sex          712 non-null    object
 3   age          712 non-null    float64
 4   sibsp        712 non-null    int64
 5   parch        712 non-null    int64
 6   fare         712 non-null    float64
 7   embarked     712 non-null    object
 8   class        712 non-null    category
 9   who          712 non-null    object
 10  adult_male   712 non-null    bool
 11  embark_town  712 non-null    object
 12  alive        712 non-null    object
 13  alone        712 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 69.0+ KB

In [7]:
print(df[['embarked', 'survived']].head())

  embarked  survived
0        S         0
1        C         1
2        S         1
3        S         1
4        S         0

In [8]:
df['embarked_target_encoded_manual'] = df.groupby('embarked')['survived'].transform('mean')

In [9]:
print(df[['embarked', 'embarked_target_encoded_manual', 'survived']].sample(10))

    embarked  embarked_target_encoded_manual  survived
634        S                        0.362816         0
565        S                        0.362816         0
872        S                        0.362816         0
671        S                        0.362816         0
550        C                        0.607692         1
845        S                        0.362816         0
714        S                        0.362816         0
442        S                        0.362816         0
356        S                        0.362816         1
401        S                        0.362816         0

In [10]:

target_encoder = ce.TargetEncoder(cols=['embarked'])
target_encoder

TargetEncoder(cols=['embarked'])

In [11]:
df['embarked_target_encoded_ce'] = target_encoder.fit_transform(df['embarked'], df['survived'])
df['embarked_target_encoded_ce']

0      0.362816
1      0.607689
2      0.362816
3      0.362816
4      0.362816
         ...
885    0.322539
886    0.362816
887    0.362816
889    0.607689
890    0.322539
Name: embarked_target_encoded_ce, Length: 712, dtype: float64

In [13]:
df[['embarked', 'embarked_target_encoded_manual' ,'embarked_target_encoded_ce', 'survived']].head()

,embarked,embarked_target_encoded_manual,embarked_target_encoded_ce,survived
0,S,0.362816,0.362816,0
1,C,0.607692,0.607689,1
2,S,0.362816,0.362816,1
3,S,0.362816,0.362816,1
4,S,0.362816,0.362816,0

In [26]:
columns_to_encode = ['embarked','class', 'who' , 'adult_male',  'embark_town', 'alive' ,'alone']
target_encoder = ce.TargetEncoder(cols=columns_to_encode)

In [28]:
df_encoded  = target_encoder.fit_transform(df[columns_to_encode], df['survived'])

In [29]:
df_encoded

     embarked     class       who  adult_male  embark_town  alive     alone
0    0.362816  0.239437  0.174334    0.174334     0.362816    0.0  0.516129
1    0.607689  0.652174  0.773148    0.722408     0.607689    1.0  0.516129
2    0.362816  0.239437  0.773148    0.722408     0.362816    1.0  0.318408
3    0.362816  0.652174  0.773148    0.722408     0.362816    1.0  0.516129
4    0.362816  0.239437  0.174334    0.174334     0.362816    0.0  0.318408
..        ...       ...       ...         ...          ...    ...       ...
885  0.322539  0.239437  0.773148    0.722408     0.322539    0.0  0.516129
886  0.362816  0.479769  0.174334    0.174334     0.362816    0.0  0.318408
887  0.362816  0.652174  0.773148    0.722408     0.362816    1.0  0.318408
889  0.607689  0.652174  0.174334    0.174334     0.607689    1.0  0.318408
890  0.322539  0.239437  0.174334    0.174334     0.322539    0.0  0.318408

[712 rows x 7 columns]